body{
  background: url(img/fon.jpg)no-repeat center center fixed;
  background-size: cover;

}

.columns{
  display: grid;
  grid-template-columns:1fr 5fr 1fr;  
}
.list{      
  min-height: 500px;
  border-radius: 30px;
  background: rgba(403,403,403,0.7);
}
.TopHeader{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.name{
  padding: 15px;
  height: 55%;
  width: 55%;
}

.HeaderDiv{
  margin-left: auto;
  margin-right: 2%;
}
.RegTable{
  margin-top: 7px;
  font-weight: bold;
  color: #03104b;
  font-size:  18px;
}
.RegTable td input{
  border-radius: 7px;
  border: 1px solid #09154f;
}

.regColor{
  color: #03104b;
  font-weight: bold;
  text-align: right;
}

.regButtomColor{
  font-size: 16px;
  font-family: 'Tahoma';
  border: 0px;
  background: none;
  font-weight: bold;
  color: #03104b;
  padding: 0px;
}
.headerSlider{
  margin:0 auto; 
  margin-top: 35px;
  width: 80%;
  height: auto;
}

.headerSlider img{

  width: 100%;
  height: 100%;
}
.menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size:18px;
  font-family:'Tahoma';

}

.menu li{
  display: flex;
  justify-content: center;
  float: left;
  width: 20%;
  min-width: 150px;
  height: 35px;
  border: 2px color #4284D3;
  background: rgba(105, 243, 250, 0.5);
  margin: 10px 25px 10px 10px;     
  padding: 10px 0px 0px 0px;
  border-radius: 5px;
  text-align: center;
}
.blok1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 5% 50px 5%;
}

.blok{

  width: 150px;
  height:225px;
  margin: 25px 30px;
  text-align: center;

}









/*РАНОБЕ*/

.bloksRanobe{
  margin-top: 25px;
  margin-bottom: 50px;
  margin: 25px 0% 50px 10%;
  width: 80%;
}

.nameRanobe{
  font-size: 24px;
  font-family: 'Tahoma';
}

.blokRanobe{
  display: flex;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.blokRanobe button{

  font-size: 18px;
  font-family: 'Tahoma';
  border: 2px solid #4284D3;
  background: rgba(105, 243, 250, 0.5);
  padding: 10px 25px;
  margin-top: 25px;
  border-radius: 10px;

}

.description{
  font-size: 17px;
  font-family: 'Tahoma';
  border: 2px solid #4284D3;
  padding: 10px 50px 10px 15px;

}
.descriptionDescription{
  white-space: pre-wrap;
}

.pictureRanome{
  width: 250px;
  height: 350px;
  margin-right: 25px;

}










/*РЕГИСТРАЦИЯ*/



.h2Reg{
  color: #03104b;

}


.Reg{
  display: flex;
  justify-content: center;
}












a{
  text-decoration: none;
  color: #000;
}



