{% extends 'layout.html' %}
{% block content %}
		<div class="aboutUs">
<font>Добро пожаловать в Карманную Галактику!

Мы рады приветствовать вас в группе посвященной, переводам японских, китайских, корейских и англо язычных произведений.

У нас вы сможете найти: истории, завязанные на любви и ненависти обычных людей, героическое фэнтези, ужасы антиутопии, жизнь в мире постапокалипсиса и много других ещё более ярких произведений, которые невозможно описать несколькими словами.

Читайте. Наслаждайтесь. Присоединяйтесь!</font>
		</div>
{% endblock content %}