<!DOCTYPE html>
{% load static %}
<html>
<head>

	<meta charset="utf-8">
	<title>Карманная галактика</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
</head>
<body>

	<div class="list">
	<table class="headerDiv">
			<tr>
			<td><img class="name" src="{% static 'img/gg.png' %}" width=650px></td>
			<td>
				<form class="regForm" action="/registration">
				<table>
					<tr>

						<td class="regColor">
							Логин:
						</td>

						<td>
							<input type="text" name="longin">
						</td>
					</tr>
					<tr>
						<td class="regColor">
							Пароль:
						</td>

						<td>
							<input type="password" name="password">
						</td>
					</tr>

					<tr>

						<td>
							<button class="regButtomColor">Войти</button>
						</td>

						<td>
							<button class="regButtomColor" onclick="document.location='{% url 'registration_url' %}'">Регистрация</button>
						</td>
					</tr>
				</table>
			</form>	</td></tr>
		</table>


		<div class="header">

			<img src="{% static 'img/000.jpg' %}" width=100% height=100%>
		</div>



		<ul class="menu">
			<li>
			    <a href="{% url 'index_url' %}" title="Главная">Главная</a>
			 </li>
			 <li>
			    <a href="manga.html" title="Манга">Манга</a>
			</li>
			<li>
			    <a href="{% url 'ranobe_url' %}" title="Ранобэ">Ранобэ</a>
			</li>
		</ul>

<br>
        {% block content %}
        {% endblock content %}

	</div>



</div>

</body>
</html>


