{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="blok1">

	<table align="center">
		<tr>
				
				<td>
				<div class="blok"><a href="ranobe/001.html"><img src="img/001.jpg" width=100% height=100% align=right></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/002.html"><img src="img/002.jpg" width=100% height=100% align=left></a></div>
			</td>
		
			

			<td>
				<div class="blok"><a href="ranobe/003.html"><img src="img/003.jpg" width=100% height=100% align=left></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/004.html"><img src="img/004.jpg" width=100% height=100% align=right></a></div>
			</td>


		</tr>

		<tr>
				
				<td>
				<div class="blok"><a href="ranobe/005.html"><img src="img/005.jpg" width=100% height=100% align=right></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/013.html"><img src="img/013.jpg" width=100% height=100% align=left></a></div>
			</td>
		
			

			<td>
				<div class="blok"><a href="ranobe/007.html"><img src="img/007.jpg" width=100% height=100% align=left></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/008.html"><img src="img/008.jpg" width=100% height=100% align=right></a></div>
			</td>


		</tr>

		<tr>
				
				<td>
				<div class="blok"><a href="ranobe/009.html"><img src="img/009.jpg" width=100% height=100% align=right></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/010.html"><img src="img/010.jpg" width=100% height=100% align=left></a></div>
			</td>
		
			

			<td>
				<div class="blok"><a href="ranobe/011.html"><img src="img/011.jpg" width=100% height=100% align=left></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/012.html"><img src="img/012.jpg" width=100% height=100% align=right></a></div>
			</td>


		</tr>

	</table> 
</div>

{% endblock content %}

