<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ранобе</title>
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
</head>
<body>
	<div class="list">
	


	<ul class="icon1">
		<li><a href="https://vk.com/pocket_galaxy" target="_blank"><img class="icon" src="img/vk.png"></a> </li>
		<li><a href="https://t.me/PocketGalaxy" target="_blank"><img class="icon" src="img/telegram.png"></a> </li>
		<li><a href="https://discordapp.com/invite/gJmcKjc" target="_blank"><img class="icon" src="img/discord.png" ></a></li>
		<li><a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.patreon.com%2Fpocketgalaxy&cc_key=" target="_blank"><img class="icon" src="img/patreon.png" ></a></li>
	</ul>






<img class="name"src="img/gg.png" width=80% height=80%>

		<div class="header">
			
			<img src="img/000.jpg" width=100% height=100%>
		</div>



		<ul class="menu">
			<a href="index.html"><li>Главная</li></a>
			<a href="manga.html"><li>Манга</li></a>
			<a href="ranobe.html"><li>Ранобэ</li></a>
		</ul>



<br>
<div class="blok1">

	<table align="center">
		<tr>
				
				<td>
				<div class="blok"><a href="ranobe/014.html"><img src="img/014.jpg" width=100% height=100% align=right></a></div>
			</td>
			
						
			<td>
				<div class="blok"><a href="ranobe/015.html" title="Рабская жизнь полудракона"><img src="img/015.jpg" width=100% height=100% align=left></a></div>
			</td>
		
			

			<td>
				<div class="blok"><a href="ranobe/016.html" title="Разрушительница Юри - странные отношения с самым сильным учителем"><img src="img/016.jpg" width=100% height=100% align=left></a></div>
			</td>
			<td>
				<div class="blok"><a href="ranobe/017.html" title="Посредственная Я - безумна"><img src="img/017.jpg" width=100% height=100% align=right></a></div>
			</td>



		</tr>

	</table> 
</div>
	

	<table class="nomera" align="center">

			<td>
				<a href="ranobe.html"><div class="clik">1</div></a>
			</td>
			<td>
				<a href="ranobe2.html"><div class="clik"><u>2</u></div></a>
			</td>


		</table>

	</div>



</div>

</body>
</html>


