{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="bloksRanobe">
		<p><font class="nameRanobe">{{ ranobe.name }}</font></p>
			<div class="blokRanobe">
				<img src="{% static ranobe.image %}" class="pictureRanome">
				<a href="{{ ranobe.id }}/{{ chapterId }}/">Читать</a>
			</div>

		<div class="description">
			<strong>Японское наименование: </strong> {{ ranobe.japaneseName }}   <br>
			<strong>Английское наименование: </strong> {{ ranobe.englishName }} <br>
		<br>
			<strong>Автор: </strong> {{ ranobe.author  }}  <br>
			<strong>Дата: </strong>{{ ranobe.date }}<br>
			<strong>Статус произведения: </strong>{{ ranobe.statusOfTitle }}<br>
			<strong>Статус перевода: </strong>{{ ranobe.statusOfTranslate}}<br>
		<br>
			<strong>Перевод с японского: </strong> {{ ranobe.translator }} <br>
			<strong>Редактор: </strong> {{ ranobe.editor }} <br>

			<p><strong>Описание: </strong>

				<font class="descriptionDescription">{{ ranobe.description }}</font>

			</p>
		</div>
</div>

{% endblock content %}