<!DOCTYPE html>
<html>
<head>
    
	<meta charset="utf-8">
	<title>Карманная галактика</title>
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
</head>
<body>
<div class="columns">
	<div></div> <!--Левая полоса-->
	<div class="list">
		<header>
			<div class="TopHeader">
				<img class="name"src="img/gg.png">
				<div class="HeaderDiv">
					<form>
					<table class="RegTable">
						<tr>
							<td colspan="2">
								<input type="text" placeholder="Логин" name="longin">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="password" placeholder="Пароль" name="password">
							</td>
						</tr>
									        
						<tr>
									          
							<td>
								<button class="regButtomColor">Войти</button>
							</td>

							<td>
								<button class="regButtomColor">Регистрация</button>
							</td>
						</tr>
					</table>
					</form>
				</div>
			</div>
			<div class="headerSlider">
			
				<img src="img/000.jpg">
			</div>
			<ul class="menu">
				<li>
				    <a href="index.html" title="Главная">Главная</a>
				 </li>
				 <li>
				    <a href="manga.html" title="Вакансии">Вакансии</a>
				</li>
				<li>
				    <a href="ranobe.html" title="О нас">О нас</a>
				</li>
			</ul>
		</header>

		<div class="bloksRanobe">
			<p><font class="nameRanobe">В другом мире моё имя - Чёрный целитель</font></p>
			<div class="blokRanobe">
				<img src="img/001.jpg" class="pictureRanome">
				<button>Читать</button>
			</div>				
			<div class="description">
			<strong>Японское наименование: </strong> 異世界で『黒の癒し手』って呼ばれています   <br>
			<strong>Английское наименование: </strong>- <br>
		<br>
			<strong>Автор: </strong>Фудзима Фудзихира  <br>
			<strong>Дата: </strong>01.10.2015<br>
			<strong>Жанры: </strong>комедия фантастика магия сёнен  <br>
			<strong>Статус произведения: </strong>Завершён<br>
			<strong>Статус перевода: </strong>Завершён<br>
		<br>
			<strong>Перевод: </strong>Mushu Sibiriak <br>
			<strong>Редактор: </strong>Аборсен <br>

			<p><strong>Аннотация: </strong> 
			<pre>
			Милая японская девушка, отаку по жизни, возвращаясь домой с вечеринки, попадает в странное стечение обстоятельств, где чёрные руки затягивают её в другой мир... На пути нашей героини появится много интересных приключений.		</pre></p>
				</div>
		</div>
	</div>
	<div></div> <!--Правая полоса-->
</div>

</div>

</body>
</html>
