{% extends 'layout.html' %}
{% block content %}

		<div class="fillingVacancy">

			<form>
				<input placeholder="ФИО" type="text" required><br>
				<input placeholder="Страница в VK" type="text" required><br>
				<input placeholder="email" type="email" required><br>			
				<input placeholder="Дата рождения" type="date" required><br>
				<textarea placeholder="Расскажите о себе, почему вы хотите работать именно у нас, кем вы хотите работать у нас?" type="text" required></textarea><br>
				<button>Отправить</button>
			</form>


		</div>
{% endblock content %}






